.text-center {
    text-align: center;
}
h1,h2, a {
    color: blue;
}
body {
    color: darkslategrey;
    font-family: arial, sans-serif;
    font-size: 17px;
}
h1, h2, a, a:visited {
    color: darkblue;
}
li {
    text-align: left;
}
h2{
    background-color: lightblue;
}