@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

.fonte-titulo {
    font-family: 'Pacifico', cursive;
}

.card-imagem-top {
    height:200px;
    object-fit:cover;
    object-position: 0 60%;
}

.card-imagem-lg {
	height: 200px;
	width: 80%;
	margin-left: 10%;
	object-fit: cover;
	object-position: 0 60%;
}

.card-imagem-clientes {
	margin: 3;
	width: 10rem;
	height: 10rem;
	object-fit: cover;
    object-position: 50%;
}

.card-imagem {
    width: 18rem;
    object-fit:cover;
    object-position: 0 60%;
    margin-top: 40px;
}
