body {
    color: darkslategray;
    font-family: Arial, sans-serif;
    font-size: 17px;
}

.text-center {
    text-align: center;
}

h1 {
    color: darkblue;
    font-size: 30px;
}

h2 {
    color: darkblue;
    background-color: lightskyblue;
    font-size: 24px;
}

h1 a {
    color: white;
}

h1 a:hover {
    color: darkblue;
}

h2 a {
    color: lightskyblue;
}

h2 a:hover {
    color: darkblue;
}

#copyright {
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

h1, h2, a, a:visited {
    color: darkblue;
}

a, a:visited {
    text-decoration: none
}

a:hover {
    text-decoration: underline;
}

h1 a:visited {
    color: white;
}

h2 a:visited {
    color: lightskyblue;
}

h1 a:hover, h2 a:hover {
    color: darkblue;
}
